:root {
    --accent-color:#2196F3;
        --main-color:#F5F4FA;
        --add-color:#212121;
        --bg-color:#2F303A;
}
body {
    font-family: Roboto;
}
.logo {
        font-family: Raleway;
        font-size: 26px;
        letter-spacing: 0.78px;
}
.logo-accent {
    color: var(--accent-color);
}
.nav-item-link {
    color: var(--add-color);
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.28px;
}
.nav-item-link :hover {
    color: var(--accent-color);
}
.contact-item {
    color: #757575;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.28px;
}
.contact-item :hover {
    color: var(--accent-color);
}
.hero-title {
color: #FFF;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.hero-btn {
    border-radius: 4px;
        background: var(--accent-color);
        color: #FFF;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0.96px;
}
.advantages-item-subtitle {
        font-size: 14px;
        letter-spacing: 0.42px;
}
.advantages-item-text {
    color: #757575;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.42px;
}
.performance-title {
        text-align: center;
        font-size: 36px;
        letter-spacing: 1.08px;
}
.footer-logo {
    color: #FFF;
        font-family: Raleway;
        font-size: 26px;
        letter-spacing: 0.78px;
}
.footer-logo-accent {
    color: var(--accent-color);
}
.address-item-link {
    color: rgba(255, 255, 255, 0.60);
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.42px;
}