:root {
    --accent-color:#2F303A;
        --main-color:#F5F4FA;
        --add-color:#2196F3;
}
body {
    font-family: Roboto;
}
.logo-accent {
    color: var(--add-color);
        font-family: Raleway;
        font-size: 26px;
        letter-spacing: 0.78px;
}
.logo {
        font-family: Raleway;
        font-size: 26px;
        letter-spacing: 0.78px;
}
.nav {
    width: 1600px;
        height: 80px;
}
.nav-item {
    color: #212121;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.28px;
}
.nav-item :hover {
    color: var(--add-color);
}
.link-item {
    color: #757575;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.28px;
}
.link-item :hover {
    color: var(--add-color);
}
.hero {
    width: 1600px;
        height: 600px;
        background: #2F303A;
}
.hero-title {
color: #FFF;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.hero-btn {
    border-radius: 4px;
        background: #2196F3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.advantages-item {
    width: 270px;
        height: 98px;
}
.advantages-item-subtitle {
        font-size: 14px;
        letter-spacing: 0.42px;
}
.advantages-item-text {
    color: #757575;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.42px;
}
.performance {
    width: 1170px;
        height: 386px;
}
.performance-title {
        text-align: center;
        font-size: 36px;
        letter-spacing: 1.08px;
}

