/* :root {
    --accent-color: #2196F3;
    --main-color: #212121
    --add-color: #F5F4FA 
    --add-white:
    --bg-color: #2F303A
}
section,footer {
    color: var(--accent-color);
}
.studio {
    list-style: none;
    font-size: 25px;
}
.web {
    color: #2196F3;
    list-style: none;
    font-size: 25px;
}
.studio-two {
    color: white;
    list-style: none;
    font-size: 25px;
}
section > ul {
    margin: 0;
}
ul {
    list-style-type: none;
}
.job {
    color: #757575;
}
h1 {
    color: white;
    font-size: 30px;
}
.section {
    background-color: #2F303A;
}
a[href="mailto:info@devstudio.com"] {
    color: rgba (255, 255, 255, 0.6);
}
a[href="tel:+380961111111"] {
    color: rgba (255, 255, 255, 0.6);
} */
